.App {
  text-align: center;

}
.menu{
  text-align: center;
}
.h1{
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.reverse {
  padding: 20px 40px;
}

.reverse Button {
  margin-right: 15px;
}

.reverse Input {
  width: 25rem;
}